body {
    background-color: #4895ef;
    
}

h1 {
    text-align: center;
}

main {
    padding: 3em;
    text-align: center;
    margin: 5em auto;
    width: 30%;
    height: 20em;
    background-color: rgba(248, 248, 248, 0.937);
    border-radius: 10px;
    box-shadow: 0 0 5px;
}

.input-div {
    margin-top: 3em;
}

table {
    margin: 5em auto;
    
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

