body {
    background-color: rgba(75, 116, 69, 0.937);
    height: fit-content;
    text-align: center;
}

h1 {
    text-align: center;
}

section {
    margin: auto;
    width: 75%;
    color: white;
}

img {
    border-radius: 10px;
}

main {
    padding: 3em;
    text-align: center;
    margin: 5em auto;
    width: 30em;
    height: inherit;
    background-color: rgba(75, 116, 69, 0.937);
    border-radius: 10px;
    box-shadow: 0 0 5px;
}

.txtInput {
    padding: .3em;
    border-radius: 5px;
    margin: .5em;
}

.input-div {
    margin-top: 3em;
}

table {
    margin: 5em auto;
    
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
    padding: .8em;
}

main, label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

button {
    padding: .5em;
    border-radius: 5px;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 5px white;
    border: none;
    cursor: pointer;
}

.open {
    padding: .5em;
    width: 10em;
    font-size: 1.5em;   
    background-color: rgb(230, 230, 230);
}

.directory {
    display: none;
}

#close-btn {
    position: relative;
    left: -38%;
}

#close-btn:hover {
    color: red;
    cursor: pointer;
}
